/*
	RESET STYLES
*/
body, div, section, time, h3, h2, i, ul, li, hr, article {
	margin: 0;
	padding: 0;
}


/*
	GENERAL TAGS
*/
#gridview_container {
	position: relative;
	top: 0;

	width: 1280px;
	height: 720px;

	font-family: 'EffraLight';
	font-size: 20px;
	color: white;
	-webkit-font-smoothing: antialiased;

	overflow: hidden;
}


/* General section style used for panels */
#gridview_container section {

	height: 536px;

	background-color: rgba(0, 32, 95, 0.15);

	overflow: hidden;
	position: absolute;
	bottom: 0;
}

#gridview_container ul { list-style: none; }




/*
	DATE AND HOURS BAR
*/
#date {
	position: absolute;
	top: 94px;
	left: 380px;

	font-size: 40px;
}

#hours-bar-container {
	position: absolute;
	top: 150px;
	left: 380px;

	font-size: 20px;

	overflow: hidden;
}

#hours-bar { -webkit-transition: margin-left 0.4s ease; }
#hours-bar time { 
	display: inline-block;
	width: 300px;
}





/*
	LEFT PANEL - OLD PROGRAMS
*/
#left-panel {
	left: 0;

	width: 174px;
}





/*
	CHANNEL PANEL
*/
#channel-panel {
	left: 174px;
	
	width: 196px;
	height: 600px;

	background-color: transparent;
	-webkit-box-shadow: 0 21px 30px 0px rgba(0, 0, 0, 0.5);
}

/* Channel panel entity */
.cp-channel {
	height: 71px;

	text-align: center;
	line-height: 71px;

	-webkit-transition: height 0.55s linear, line-height 0.55s linear;
}
.cp-channel h3 {
	position: absolute;
	left: 5px;
	margin-top: 5px;

	font-family: 'EffraHeavy';
	line-height: 16px;
	font-size: 16px;
}
.cp-channel img {
	display: inline-block;
	max-height: 40px;
	max-width: 70px;

	vertical-align: middle;

	-webkit-transition: max-height 0.55s linear, max-width 0.55s linear;
}

.cp-focus {
	height: 110px;
	line-height: 110px;

	background-image: url('../resources/images/gradient_196x110.png');
}
.cp-focus img {
	max-height: 70px;
	max-width: 108px;
}

/* Slider panel */
#cp-slide-panel {
	position: relative;
	
	-webkit-transition: margin-top 0.55s ease-out;
	z-index: 2;
}

/* Program picture zone */
#cp-program-pic {
	position: absolute;
	left: 0;
	bottom: 285px;

	width: 100%;
	height: 110px;

	overflow: hidden;
}



/*
	GRID PANEL
*/
#grid-panel {
	right: 0;

	width: 910px;
}

/* Slider panel */
.gp-movable-panel {
	/*-webkit-transition: -webkit-transform 0.55s ease-out, top 0.55s ease-out;*/
	
	position: absolute;
	width: 910px;
	-webkit-transition: top 0.55s ease-out, left 0.55s ease-out;
}

/* Channel line */
.gp-line {
	position: relative;

	width: 100%;
	height: 71px;

	background-image: url('../resources/images/grid_Current_Future_line_right.png');
	background-repeat: no-repeat;
	background-position: left top;

	/*overflow: hidden;*/
	-webkit-transition: height 0.55s ease-out;
}
.gp-focus, .gp-separator-focus { height: 110px; }

/* Separators */
.gp-separator-top {
	position: absolute;
	left: 0;
	top: 0;

	height: 1px;
	width: 100%;

	background-image: url('../resources/images/grid_Current_Future_line_right.png');
	background-repeat: no-repeat;
	border: 0;
}

/* Program entity */
.gp-program {
	position: absolute;
	top: 0;

	height: 100%;

	background-image: url('../resources/images/grid_vertical_off.png');
	background-repeat: no-repeat;
	background-position: right top;

	/*-webkit-transition: background-color 0.55s ease-out, width 0.55s ease-out 0.55s, left 0.55s ease-out 0.55s;*/
	-webkit-transition: background-color 0.55s ease-out, width 0.55s ease-out, left 0.55s ease-out;
	opacity: 1;
	overflow: hidden;
}
.gp-program.gp-program-overlayed { opacity: 0 }

.gp-program time {
	display: block;
	margin: 10px 0 3px 10px;

	white-space: nowrap;

	/*-webkit-transition: width 0.55s ease-out 0.55s;*/
	-webkit-transition: width 0.55s ease-out;
	overflow: hidden;
}
.gp-program time.gp-mini-time,
.gp-overlayed-mini-time time { width: 58px; }
.gp-program time.gp-mini-time-small { width: 45px; }
.gp-program time.gp-no-time,
.gp-overlayed-no-time { width: 0; }

.gp-program h2 {
	margin-left: 10px;

	font-size: 22px;
	white-space: nowrap;
	
	overflow: hidden;
	display: inline-block;
	text-overflow: ellipsis;
}
.gp-program i {
	display: block;
	margin-left: 10px;

	font-style: normal;
	font-size: 18px;

	opacity: 0;
}

.gp-program aside {
	position: absolute;
	top: 10px;
	
	height: 20px;

	text-align: right;	
	white-space: nowrap;

	overflow: hidden;
	/*-webkit-transition: opacity 0.2s ease-out 0.55s;*/
	-webkit-transition: opacity 0.2s ease-out;
}
.gp-prog-expandable aside { opacity: 0; }
.gp-program aside img { margin-right: 4px; }

.gp-focus {
	height: 110px;
}
.gp-focus i { opacity: 1 }
.gp-focus .gp-program {
	background-image: url('../resources/images/grid_vertical_on.png');
}

/* Expandable programs */
.gp-colored-program { z-index: 2; }
.gp-prog-expandable h2 { display: block; }
.gp-program-overlayed { background-image: ''; }

/* On focussed program */
.gp-colored-program aside { opacity: 1; }
.gp-colored-program time.gp-mini-time,
.gp-colored-program time.gp-mini-time-small { width: 130px; }
.gp-colored-program time.gp-no-time { width: 130px; }

.gp-colored-program time { font-family: 'EffraMedium'; }
.gp-colored-program h2 {
	margin-bottom: 3px;
	font-family: 'EffraHeavy';
	text-overflow: clip;
}

/* Overlayed node */
.gp-overlay {
	width: 30px;

	font-family: 'EffraLight';
	font-size: 22px;
	line-height: 100px;
	text-align: center;
	/*-webkit-animation: gp-overlay-appear 0.8s linear 0.55s;*/
	-webkit-animation: gp-overlay-appear 0.8s linear;
}
.gp-overlay:after {
	content: '...';
}
@-webkit-keyframes gp-overlay-appear {
	from { opacity: 0; }
	to { opacity: 1; }
}
