
#hubContainer {
    /* -webkit-transform: translate3d(0px, 0px, 0px); debug on PC requires to put translate3d(0px, -60px, 0px);  */
}

/* Showcase line container */
#hubShowcaseContainer {
  position: absolute;
  top: 314px; /* 194 + 240 - 10 -110 */
  left: 0px;
  width: 1280px;
  height: 110px;
  overflow: hidden;
  -webkit-transition: -webkit-transform 400ms linear;
}

/* List of the showcase */
.hubShowcaseList {
    position: absolute;
    top: 0px;
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: 10000px;
    height: 110px;
}

/*
 * Define a showcase block in the showcase line
 */
.hubShowcase {
    float: left;
    display: inline;
    height: 110px;
    padding-right: 20px;
    overflow: hidden;
}

/*
 * Define the asset list inside the showcase
 */
.hubShowcaseAssets {
  padding: 0;
}

/*
 * Define an asset inside its showcase
 */
.hubAsset {
    float: left;
    display: inline;
    height: 110px;
    background-size: auto auto;
}

/*
 * Define the "more" title in a showcase on the left
 */
.hubAssetMoreTitleLeft {
    position: absolute;
    top: 76px; /* 110 - 10 - 24*/
    margin-left: 10px;
    font-family: EffraHeavy;
    font-size: 22px;
    line-height: 24px;
    height: 24px;
    width: 20px;
    overflow: hidden;
    color: white;
}

/*
 * Define the "more" title in a showcase on the right
 */
.hubAssetMoreTitleRight {
    position: absolute;
    top: 76px; /* 110 - 10 - 24*/
    margin-left: 10px;
    font-family: EffraHeavy;
    font-size: 22px;
    line-height: 24px;
    height: 24px;
    width: 0px;
    overflow: hidden;
    color: white;
}

/*
 * Define the "more" title when the "more" asset is a top showcase asset.
 */
.hubAssetMoreTitleTop {
    position: absolute;
    top: 76px; /* 110 - 10 - 24*/
    margin-left: 10px;
    font-family: EffraHeavy;
    font-size: 22px;
    line-height: 24px;
    height: 24px;
    width: 176px;
    overflow: hidden;
    color: white;
}

/*
 * Define the channel logo for the live unfocused asset
 */
.hubLiveChannelLogo {
    position: relative;
    z-index: 1;
    background-repeat: no-repeat, no-repeat;
    width: 196px;
    height: 110px;
    background-position: center;
}

/*
 * Define the channel logo for a broadcast unfocused asset
 */
.hubBroadcastChannelLogo {
    position: relative;
    z-index: 1;
    background-repeat: no-repeat, no-repeat;
    width: 196px;
    height: 110px;
    background-position: center;
    -webkit-transition: opacity 400ms linear 0s
}

/*
 * Asset gradient for the left showcases
 */
.hubAssetLeftGradient {
    position: relative;
    left: 10px; /* 		(deltaInterAsset == 30px) - ('showcase_degrade_gauche.png'.width == 20 px)	 	*/
    background-image: url(../resources/images/showcase_degrade_gauche.png);
    width: 20px;
    height: 110px;
}

/*
 * Asset gradient for the right showcases
 */
.hubAssetRightGradient {
    position: relative;
    background-image: url(../resources/images/showcase_degrade_droite.png);
    width: 20px;
    height: 110px;
}


/*****************************/
/*****************************/
/* 		CENTER area 		 */
/*****************************/
/*****************************/

/*
 * Centered list view port - container
 */
#hubCenterFocusContainer {
    position: absolute;
    top: 194px;
    left: 370px;
    width: 320px;
    height: 240px;
    overflow: hidden;
    z-index: 2;
    -webkit-transition: -webkit-transform 400ms linear 0s, background-size 400ms linear 0s;
}

/*
 * Define the centered assets list
 */
.hubCenterFocusList {
    position: absolute;
    width: 12800px;
}

/*
 * Define the container of an asset in the centered list
 */
.hubFocusedContainerAsset  {
    display: inline-block;
    position: relative;
    float: left;
    width: 320px;
    height: 240px;
}

/*
 * Define the focused asset
 */
.hubFocusedAsset {
    position: absolute;
    top : 0px;
    left : 0px;
    width: 320px;
    height: 240px;
    z-index: 1;
    -webkit-transition: -webkit-transform 400ms linear 0s    
}

.hubFocusedMoreImageAsset {
  position: absolute;
  top : 0px;
  width: 320px;
  height: 240px;
  z-index: 2;
  -webkit-transition: -webkit-transform 400ms linear 0s    
}

.hubFocusedBroadcastImageAsset {
  position: absolute;
  top : 0px;
  width: 320px;
  height: 180px;
  z-index: 2;
  -webkit-transition: -webkit-transform 400ms linear 0s    
}

.hubFocusedVodImageAsset {
  position: absolute;
  top : 0px;
  left : 168px;
  width: 152px;
  height: 202px;
  z-index: 2;
  -webkit-transition: -webkit-transform 400ms linear 0s    
}

.hubFocusedDataAsset {
  position: absolute;
  top : 0px;
  width: 320px;
  height: 240px;
  z-index: 3;
  color: white;
  -webkit-transition: -webkit-transform 400ms linear
}

.hubFadeOut {
  opacity: 0;
}

.hubFadeIn {
  opacity: 1;
}

/*
 * Define the channel number
 */
.hubChannelNumber {
    position: absolute;
    top: 2px;
    margin-left: 10px;
    color:white;
    font-family: EffraHeavy;
    font-size: 16px;
    height: 16px;
    line-height: 16px;
}

.hubChannelLogo {
    position: absolute;
    top: 20px;
    margin-left: 10px;
    width: 108px;
    height: 70px;
    background-repeat: no-repeat;
    background-position: left;
}

.hubProgressBarLive {
    position: absolute;
    top: 180px;
    width: 320px;
    height: 2px;
    background-color: white;
}

.hubWhiteLineBroadcast {
    position: absolute;
    top: 180px;
    width: 320px;
    height: 2px;
    background-color: white;
}

.hubWhiteLineVod {
    position: absolute;
    top: 202px;
    width: 320px;
    height: 2px;
    background-color: white;
}

/* For a BROADCAST asset : 180 + 2 + 2 + 5 = 189
 */
.hubTimeDurationAsset {
    position: absolute;
    top: 189px ;
    margin-left: 10px;
    font-family: EffraMedium;
    font-size: 18px;
    height: 18px;
    line-height: 18px;
}

.hubMinimumPriceStartLabel {
    position: absolute;
    top : 142px; /* 202 - 24 - 14 - 22*/
    margin-left: 10px;
    font-family: EffraMedium;
    font-size: 18px;
    line-height: 22px;
    height: 22px;
    width: 148px;
    
}

.hubMinimumPriceEnd {
    position: absolute;
    top: 164px;
    margin-left: 10px;
    font-family: EffraMedium;
    font-size: 18px;
    line-height: 22px;
    height: 22px;
    width: 148px;
}

/*
 * For a BROADCAST asset : 180 + 2 + 2 + 23 + 3 = 210 (210+22 = 232)
 * For a VOD asset : 202 + 8 = 210 (210+22 = 232)
 */

.hubFocusedTitleAsset {
    position: absolute;
    top: 210px;
    margin-left: 10px;
    font-family: EffraHeavy;
    font-size: 22px;    
    height: 22px;
    line-height: 22px;
    width: 300px; /* 320 - (2*10)*/
    color: white;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}



/*****************************/
/*****************************/
/* 			TITLES	 		 */
/*****************************/
/*****************************/

.hubtitleMore {
    position: absolute;
    left: 10px;
    top: 84px;		/* unspecified by Studio */
    font-family: EffraHeavy;
    color: white;
    height: 22px;
}


/*****************************/
/*****************************/
/* 			SHOWCASE TEXT LINE   */
/*****************************/
/*****************************/


#hubshowcaseLabels {
  padding-left: 24px; /* 370 - (178+30+138+20) */
  list-style-type: none;
  margin: 0;
  height: 36px;
  width: 10000px;
}

.hubshowcaseLabels {
    display: inline-block;
    float: left;
    height: 50px;
    line-height: 50px;
    font-family: EffraLight;
    font-size: 32px;
    color : white;
    text-align: left; 
}

.hubanimableMarginTextLabels {
  -webkit-transition: -webkit-transform 400ms linear;
}

.hubanimableWidthTextLabels {
  -webkit-transition: width 400ms ease;
}

.hubfocusedLabel {
  float: left;
  height: 50px;
  font-family: EffraMedium;
  font-size: 32px;
  color : white;
  line-height: 50px;
  text-align: left; 
}

.hubshowcaseItemLabel {
    display: inline-block;
    float: left;
    height: 50px;
    line-height: 50px;
    font-family: EffraLight;
    font-size: 28px;
    color : white;
    text-align: left; 
}
.hubfocusedItemLabel {
  float: left;
  height: 50px;
  line-height: 50px;
  font-family: EffraHeavy;
  font-size: 32px;
  color : white;
  text-align: left; 
}

#hubProfileContainer {
	position: absolute;
	top: 138px;
	color: white;
	z-index: 11;
	-webkit-transition: left 200ms linear;
}
  
.hubProfileLabel, #hubProfileActiveLabel {
    font-family: EffraLight;
    font-size: 32px;
	color: white;
    height: 32px;
    line-height: 32px;
    -webkit-transition: opacity 200ms linear;
}

.hubProfileLabel {
    display: inline-block;
    margin-right: 30px;	
}

.hubProfileFocusedLabel {
	opacity: 1 !important;
}

.hubProfileFocusedLabel {
    font-family: EffraHeavy !important;
}

/*****************************/
/*****************************/
/*           MENU            */
/*****************************/
/*****************************/
  
#hubVerticalMenuViewport  {
    /*background-image:-webkit-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 9.6%,rgba(255,255,255,1) 90.4%,rgba(255,255,255,0) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;  */
    position: absolute;
    top: 434px;
    width: 1280px;
    left : 0px; 
    height: 245px;
    overflow: hidden;
    -webkit-transition: -webkit-transform 400ms linear;
}


#hubVerticalMenuContainer  {
    height: 212px;
    -webkit-transition: margin-top 400ms linear;
}

#hubverticalMenuList {
    list-style-type: none;
    padding: 0;
    width: 320px;
    line-height: 36px;
    margin-top : 12px;
    margin-left : 370px; 
    font-family: EffraLight;
    font-size: 32px;
    color: white;
}

.hubVerticalMenuLabel  {
    font-family: EffraLight;
    font-size: 32px;
    color: white;
    line-height: 36px;
    height: 36px;
}

.hubfocusedMenuItem {
    font-family: EffraHeavy;
    font-size: 32px;
    color: white;
    line-height: 36px;
    height: 36px;
}

#hubSeparatorMenu {
  margin-top: 19px;
  margin-bottom: 10px;
  margin-left: 370px;
  width: 320px;
  height: 1px;
  background-image: url('../resources/graphicalAssets/hub/HUB_separateur_blanc.png');
  background-repeat: no-repeat;
  background-position: center;
}

/*
 * Transitions classes
 */

/* Transition for the translate and the scale */
.hubTransform {
  -webkit-transition: -webkit-transform 400ms linear;
}

/* Margin left transition for the showcase line asset */
.hubMarginLeft {
  -webkit-transition: margin-left 400ms linear;
}

/* Margin right transition for the showcase line asset */
.hubMarginRight{
  -webkit-transition: margin-right 400ms linear;
}

/* Transition for the asset width */
.hubAssetWidth {
  -webkit-transition: width 400ms linear;
}
