
/*
	GENERAL TAGS
*/
#layerview_container {
	position: absolute;
	top: 0;
	left: 0;

	width: 1280px;
	height: 720px;

	font-family: 'EffraLight';
	font-size: 16px;
	color: white;
	-webkit-font-smoothing: antialiased;

	overflow: hidden;
}



/*
	DATA LAYER
*/
#data-layer {
	position: absolute;

	top: 230px;
	left: 370px;

	width: 462px;
	height: 320px;

	background-repeat: no-repeat;
	opacity: 0;
	overflow: hidden;
	-webkit-transition: opacity 400ms ease;
}
#data-layer.dl-reveal { opacity: 1; }

#data-layer.dl-fullPicture {

}

/* Data layer... layer ! */
.dl-layer {
	width: 462px;
	height: 320px;

	background-repeat: no-repeat;
}

/* Data Layer Header - channele number and logo */
.dl-channelNumber {
	position: absolute;

	top: 5px;
	left: 10px;

	font-family: 'EffraHeavy';
}

.dl-channelLogo {
	position: absolute;

	top: 28px;
	left: 10px;

	max-width: 108px;
	max-height: 70px;
}

/* Data layer footer */
.dl-layer footer {
	position: absolute;
	bottom: 0;

	width: 100%;

	border-top: solid 2px white;
}

.dl-layer footer.dl-fullPic { height: 60px; }
.dl-layer footer.dl-vodPic { height: 38px; }

.dl-layer footer > time {
	display: inline-block;
	margin: 0;
	padding: 5px 0 0 10px;

	font-family: 'EffraMedium';
	font-size: 18px;
}

.dl-layer footer > h1 {
	margin: 0;
	padding: 2px 10px;

	font-family: 'EffraHeavy';
	font-size: 22px;
}

.dl-layer footer aside {
	position: absolute;
	top: 10px;
	right: 6px;
}

.dl-layer footer aside img {
	margin-right: 4px;
}


/* Zapping digit */
#dl-zapping-digit {
	position: absolute;
	top: 235px;
	left: 380px;
	
	font-family: 'EffraHeavy';
	font-size: 50px;

	opacity: 1;
	-webkit-transition: font-size 0.8s ease;
	z-index: 10;
}

#dl-zapping-digit.dl-minimize { font-size: 16px; }