/*
	Program Picture Animation
*/

/* Represent a ppa panel */
.ppa-panel {
	position: absolute;
	top: 0;
	left: 0;

	width: 100%;
	height: 100%;

	/*-webkit-transform: translate3d(0, 0, 0);*/

	-webkit-animation-duration: 0.55s;
	-webkit-transition-timing-function: ease-out;

	overflow: hidden;
}

#ppa-dest-panel { left: 100%; }
/*#ppa-dest-panel {
	-webkit-transform: translate3d(100%, 0, 0);
	opacity: 0;
}*/

/* Animation from left to right */
@-webkit-keyframes srcLeftToRight {
	from { left: -100%; }
	to { left: 0; }
}
@-webkit-keyframes destLeftToRight {
	from { left: 0; }
	to { left: 100%; }
}

/* Animation from right to left */
@-webkit-keyframes srcRightToLeft {
	from { left: 100%; }
	to { left: 0; }
}
@-webkit-keyframes destRightToLeft {
	from { left: 0; }
	to { left: -100%; }
}

/* Animation from top to bottom */
@-webkit-keyframes srcTopToBottom {
	from { top: -100%; }
	to { top: 0; }
}
@-webkit-keyframes destTopToBottom {
	from {
		left: 0;
		top: 0;
	}
	to {
		left: 0;
		top: 100%;
	}
}

/* Animation from bottom to top */
@-webkit-keyframes srcBottomToTop {
	from { top: 100%; }
	to { top: 0; }
}
@-webkit-keyframes destBottomToTop {
	from {
		left: 0;
		top: 0;
	}
	to {
		left: 0;
		top: -100%;
	}
}
/*
/* Animation from left to right *
@-webkit-keyframes srcLeftToRight {
	from { -webkit-transform: translate3d(-100%, 0, 0); }
	to { -webkit-transform: translate3d(0, 0, 0); }
}
@-webkit-keyframes destLeftToRight {
	from { 
		opacity: 1;
		-webkit-transform: translate3d(0, 0, 0);
	}
	to {
		opacity: 1;
		-webkit-transform: translate3d(100%, 0, 0);
	}
}

/* Animation from right to left *
@-webkit-keyframes srcRightToLeft {
	from { -webkit-transform: translate3d(100%, 0, 0); }
	to { -webkit-transform: translate3d(0, 0, 0); }
}
@-webkit-keyframes destRightToLeft {
	from { 
		opacity: 1;
		-webkit-transform: translate3d(0, 0, 0);
	}
	to {
		opacity: 1;
		-webkit-transform: translate3d(-100%, 0, 0);
	}
}

/* Animation from top to bottom *
@-webkit-keyframes srcTopToBottom {
	from {  -webkit-transform: translate3d(0, -100%, 0); }
	to { -webkit-transform: translate3d(0, 0, 0); }
}
@-webkit-keyframes destTopToBottom {
	from { 
		opacity: 1;
		-webkit-transform: translate3d(0, 0, 0);
	}
	to {
		opacity: 1;
		-webkit-transform: translate3d(0, 100%, 0);
	}
}

/* Animation from bottom to top *
@-webkit-keyframes srcBottomToTop {
	from { -webkit-transform: translate3d(0, 100%, 0); }
	to { -webkit-transform: translate3d(0, 0, 0); }
}
@-webkit-keyframes destBottomToTop {
	from { 
		opacity: 1;
		-webkit-transform: translate3d(0, 0, 0);
	}
	to {
		opacity: 1;
		-webkit-transform: translate3d(0, -100%, 0);
	}
}*/
