
/*
	GENERAL TAGS
*/
#trickModeview_container {
	position: absolute;
	top: 0;
	left: 0;

	width: 1280px;
	height: 720px;
}

#trickMode-container {
	position: absolute;
	/*bottom: -160px;*/
	bottom: 0;
	left: 0;

	width: 1280px;
	height: 160px;

	font-family: 'EffraLight';
	font-size: 22px;
	color: white;
	-webkit-font-smoothing: antialiased;

	background: rgba(150, 54, 100, 0.6);
	overflow: hidden;
	opacity: 0;
	/*-webkit-transition: bottom 300ms ease;*/
	-webkit-transition: opacity 300ms ease;
}
/*#trickMode-container.tm-show-footer { bottom: 0; }*/
#trickMode-container.tm-show-footer { opacity: 1; }


/* Progress Bar */
#tm-progress {
	position: relative;
	margin-top: 37px;
	margin-left: 40px;

	width: 1200px;
	height: 2px;

	background-color: white;
}

.tm-time {
	display: block;
	position: absolute;
	top: -32px;
}
.tm-time:nth-child(2) {
	right: 0;
}
/* Overide tm progress style */
.tm-progress-time {
	display: block;
	margin: -15px -22px 0 0;
	float: right;

	font-family: 'EffraMedium';
	font-size: 18px;

	opacity: 0;
	-webkit-transition: margin-top 300ms ease, opacity 300ms ease;
}
.tm-progress-time.tm-display {
	margin-top: -24px;
	opacity: 1;
}

/* Action pictures */
.tm-picto {
	position: relative;
	top: 20px;
	margin-left: 65px;
}
/*.tm-picto-unuse { opacity: 0.3; }*/
.tm-picto-unuse { opacity: 0.1; }

.tm-picto:nth-child(2) { margin-left: 209px; }


/* Big icon action picture */
#tm-big-icon {
	position: absolute;
	bottom: 194px;

	width: 100%;

	text-align: center;
}

#tm-big-icon > img {
	opacity: 0;

	-webkit-transition: opacity 300ms ease;
}
#tm-big-icon > img.tm-show-icon { opacity: 1; }