/*
	USER INFO BOX
*/
#user-infos-box {
	position: fixed;
    top: 28px;
    left: 40px;

    font-family: 'EffraLight';
    font-size: 20px;
    color: rgba(255, 255, 255, 0.5);

    z-index: 10;

    -webkit-transition: opacity 300ms ease;
}
#user-infos-box.uib-hidden { opacity: 0; }

#user-infos-box > img {
	position: fixed;
	top: 0;
	left: 0;
}

#user-infos-box > header { margin-bottom: 2px; }

#user-infos-box h1 {
	display: inline-block;
	
	margin: 0;
	padding: 0 5px 0 0;

    font-size: 25px;
    font-weight: normal;
    color: white;
}

#user-infos-box strong { font-weight: normal; }

#user-infos-box time { font-size: 18px; }

#user-infos-box > time:nth-child(3) {
	padding-right: 5px;
	margin-right: 4px;
	border-right: 1px solid rgba(255, 255, 255, 0.3);
}

#user-infos-box > time > span {
	position: relative;
	top: -0.35em;

	font-size: 0.65em;
	opacity: 0.8;
}
